<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cate">
    
    <!-- <resultMap id="procategoryvomap" type="com.otphalgo.vo.ProCategoryVO">
        <id property="code" column="code" />
        <result property="name" column="name"/>
    </resultMap> -->
    
    <select id="selectProCategoryAll" resultType="procategoryvo">
        select * from pro_category
    </select>
    
    <select id="classifyProCategory1" resultType="procategoryvo">
        select * from pro_category where cate_code between 1 and 4
    </select>
    
    <select id="classifyProCategory2" parameterType="procategoryvo" resultType="procategoryvo">
    	select * from pro_category where cate_code like #{cate_code} || '__'
    </select>
</mapper>
