<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pro">
	<!-- rownum이용 최근 작성일 기준으로 pro조회 -->
	<select id="selectProductAll" parameterType="int[]" resultType="pronboardvo">
		select code, id, name, price, cate_code, thumbnail_image
		from (select rownum r, code, id, name, price, cate_code, thumbnail_image
			  from (select * from pro order by code asc))	
		where r between
		<foreach collection="array" item="r" separator="and">
			#{r}
		</foreach>
	</select>
	
	<select id="selectProductAll2" parameterType="hashmap" resultType="pronboardvo">
		select code, id, name, price, cate_code, thumbnail_image
		from (select rownum r, code, id, name, price, cate_code, thumbnail_image
			  from (select * from pro where cate_code=#{cate_code} order by code asc))	
		where r between
		<foreach collection="rownum" item="r" separator="and">
			#{r} 
		</foreach> 
	</select>
	
	<select id="selectProductAll3" parameterType="hashmap" resultType="pronboardvo">
		select code, id, name, price, cate_code, thumbnail_image
		from (select rownum r, code, id, name, price, cate_code, thumbnail_image
			  from (select * from pro where id=#{id} order by code asc))	
		where r between
		<foreach collection="rownum" item="r" separator="and">
			#{r} 
		</foreach> 
	</select>
	
	<select id="selectBoardAll" parameterType="int[]" resultType="pronboardvo">
		select seq, title, id, code, contents, write_date, viewcount
		from (select rownum r, seq, title, id, code, contents, write_date, viewcount
			  from (select * from pro_board order by write_date asc))	
		where r between
		<foreach collection="array" item="r" separator="and">
			#{r} 
		</foreach> 
	</select>
	
	<select id="countAllBoard" resultType="int">
		select count(*) from pro_board
	</select>
	<select id="countAllProduct" resultType="int">
		select count(*) from pro
	</select>
	<select id="countSelectProduct" resultType="int">
		select count(*) from pro where id=#{id}
	</select>
	
	<select id="selectProductOne" parameterType="int" resultType="pronboardvo">
		select * from pro where code=#{code}
	</select>
	<select id="selectBoardOne" parameterType="int" resultType="pronboardvo">
		select * from pro_board where code=#{code}
	</select>
	<update id="viewcount" parameterType="pronboardvo">
		update pro_board set viewcount = viewcount+1  where code=#{code}
	</update>
	
	<insert id="insertProduct" parameterType="pronboardvo">
		insert into pro values
		( pro_code.nextval, #{id}, #{name}, #{price},
			#{cate_code}, #{thumbnail_image}, default, default, default, 0 )
	</insert>
	<insert id="insertBoard" parameterType="pronboardvo">
		insert into pro_board values
		( proboard_seq.nextval, #{title}, #{id}, proboard_code.nextval ,
			#{contents}, default, 0 )
	</insert>
	 
	<update id="updateProduct" parameterType="pronboardvo">
		update pro set name=#{name}, price=#{price}, cate_code=#{cate_code}, thumbnail_image=#{thumbnail_image}
		where code=#{code}
	</update>
	<update id="updateProBoard" parameterType="pronboardvo">
		update pro_board set title=#{title}, contents=#{contents}
		where code=#{code}
	</update>
	
	<update id="deleteProduct" parameterType="pronboardvo">
		<!-- del이 0이면 삭제, 기본값이 1(존재)  -->
		update pro set del=0
		where code=#{code}
	</update>
	
</mapper>